<!DOCTYPE html>
 <html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<title>レビュー編集</title>
	<div th:replace="~{fragment :: meta}"></div>
	<div th:replace="~{fragment :: styles}"></div>
</head>

<body>
	<div class="tabelog-wrapper">
		<div th:replace="~{fragment :: header}"></div>
		<main class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="container pt-4 pb-5 tabelog-container">
						<div class="row justify-content-center">
							<div class="col-xxl-9 col-xl-10 col-lg-11">
								<nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
									<ol class="breadcrumb mb-0">
										<li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
										<li class="breadcrumb-item"><a th:href="@{/shops}">店舗一覧</a></li>
										<li class="breadcrumb-item"><a th:href="@{|/shops/${shop.getId()}|}">店舗詳細</a>
										</li>
										<li class="breadcrumb-item active" aria-current="page">レビュー編集</li>
									</ol>
								</nav>
								<h1 class="mb-4 text-center" th:text="${shop.getShopName} + ' レビュー編集'">レビュー編集</h1>
								<form
									th:action="@{/shops/{shopId}/reviews/{reviewId}/update(shopId=${shop.id}, reviewId=${review.id})}"
									th:object="${reviewEditForm}" method="post">
									<input type="hidden" th:field="*{id}">
									<div class="mb-3">
										<label for="evaluation" class="form-label">評価</label>
										<select class="form-select" id="evaluation" th:field="*{evaluation}">
											<option class="tabelog-star" value="5" selected>
												&#9733;&#9733;&#9733;&#9733;&#9733;</option>
											<option class="tabelog-star" value="4">
												&#9733;&#9733;&#9733;&#9733;&#9734;</option>
											<option class="tabelog-star" value="3">
												&#9733;&#9733;&#9733;&#9734;&#9734;</option>
											<option class="tabelog-star" value="2">
												&#9733;&#9733;&#9734;&#9734;&#9734;</option>
											<option class="tabelog-star" value="1">
												&#9733;&#9734;&#9734;&#9734;&#9734;</option>
										</select>
									</div>
									<div class="mb-3">
										<label for="review_comment" class="form-label">コメント</label>
										<textarea id="review_comment" name="review_comment" class="form-control"
											rows="5" required th:field="*{review_comment}"></textarea>
									</div>
									<div class="submit-button text-center">
										<button type="submit" class="btn btn-primary">更新する</button>
									</div>
								</form>
							</div>
						</div>
					</div>
		</main>
		<div th:replace="~{fragment :: footer}"></div>
	</div>
	<div th:replace="~{fragment :: scripts}"></div>
</body>

</html>